<div ng-controller="MainCtrl">
  <div ng-view>
    {{ text }}
  </div>
  <h3>Posts</h3>
  <button class="btn btn-default" ng-click="loadPosts()">Load Posts</button>
  <div ng-show="loading">Loading posts...</div>
  <div ng-repeat="post in posts">
    <h4>{{post.title}}</h4>
    <h5>by {{post.user_id}}</h5>
    <p>{{post.body}}</p>
    <button class="btn btn-default" ng-click="edit(post)">Edit</button>


    <div ng-show="post.editing">
      <div class="alert alert-danger" ng-show="post.invalid">Error saving post</div>
      <form novalidate class="simple-form">
        Title: <input type="text" ng-model="post.title" /><br />
        <span ng-show="post.errors.title">{{post.errors.title.join(', ')}}</span>

        <textarea ng-model="post.body"></textarea><br />

        <div class="form-group" ng-class='{"has-error": post.errors.user_id}'>
          <label class="control-label" for="post_user_id">User ID</label>
          <input type="text" class="form-control" id="post_user_id" ng-model="post.user_id">
          <span ng-show="post.errors.user_id">{{post.errors.user_id.join(', ')}}</span>
        </div>

        <button class="btn btn-default" ng-click="cancel(post)">Cancel</button>
        <button class="btn btn-default" ng-click="update(post)">Save</button>
      </form>
      <pre>form = {{user | json}}</pre>
      <pre>master = {{master | json}}</pre>
      </div>
    </div>


</div>


<div ng-controller="FollowCtrl">
  <div ng-view>
    {{ text }}
  </div>
  <div ng-repeat="user in users">
    <button type="button" class="btn btn-primary"
     ng-model="following[user.id]" ng-change="toggleFollow(user.id)"
     btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
        Follow {{user.name}}
    </button>
  </div>
</div>